# Ignorar binários e builds
/bin/
/obj/

# Ignorar arquivos de configuração do usuário do Visual Studio
.vs/
.vscode/
.idea/

# Ignorar pacotes NuGet
/packages/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de configuração pessoal do Visual Studio
*.user
*.suo

# Ignorar arquivos de build
*.dll
*.exe
*.pdb